<% include ../layouts/header %>
    <div class="container-fluid main">
        <div class="row col-padding-fix">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="cat_title" class="control-label">Customer name</label>
                    <input type="text" id="cat_title" name="cat_title" class="form-control" value="" />
                    <div class="error"></div>
                </div>.
            </div>
        </div>
    </div>
<% include ../layouts/footer %>